.perfil{
	width: 200px;
	border-radius: 100px;
	border: solid 4px blue;
}

body{
	background-color: darkblue;
	text-align: center;
	color: white;
	font-family: 'Arial';
	border: solid 5px blue;
	padding: 20px 0;
}

.icon{
	width: 20px;
}

a{
	background-color: white;
	border-radius: 20px;
	padding: 10px 200px;
}